auto-install-peers=true
registry=https://registry.npmmirror.com
# 指定 node.js 的安装源，某些依赖包可能需要下载 node.js
disturl=https://registry.npmmirror.com/-/binary/node/

# 一些依赖包内部需要下载的依赖文件，以下变量会被相关依赖包读取到并使用
sass_binary_site=https://registry.npmmirror.com/-/binary/node-sass/
phantomjs_cdnurl=https://registry.npmmirror.com/-/binary/phantomjs/
electron_mirror=https://registry.npmmirror.com/-/binary/electron/
chromedriver_cdnurl=https://registry.npmmirror.com/-/binary/chromedriver/
operadriver_cdnurl=https://registry.npmmirror.com/-/binary/operadriver/
selenium_cdnurl=https://registry.npmmirror.com/-/binary/selenium/
node_inspector_cdnurl=https://registry.npmmirror.com/-/binary/node-inspector/
fsevents_binary_host_mirror=https://registry.npmmirror.com/-/binary/fsevents/
puppeteer_download_host=https://registry.npmmirror.com/-/binary/
sentrycli_cdnurl=https://registry.npmmirror.com/-/binary/sentry-cli/
sharp_binary_host=https://registry.npmmirror.com/-/binary/sharp/
sharp_libvips_binary_host=https://registry.npmmirror.com/-/binary/sharp-libvips/
sqlite3_binary_site=https://registry.npmmirror.com/-/binary/sqlite3/
python_mirror=https://registry.npmmirror.com/-/binary/python/
canvas_binary_host_mirror=https://registry.npmmirror.com/-/binary/canvas
