*.log
*.md
*.lock
*.swp

.cache
.temp
.idea
.rn_temp
.DS_Store
.swc
.editorconfig
.eslintignore
.gitignore
.prettierignore
.prettierrc
.stylelintignore
LICENSE

packages/**/es
packages/**/dist
packages/antmui/types
packages/antmui/src/styles/iconfont.scss
packages/antmui/src/icon/iconfont
src/libs
src/actions/mods
src/components/icon/iconfont
src/components/echarts/echarts.js
src/iconfont.less
src/iconfont.scss
node_modules
public_patch
coverage
api-ui
dist
build
weapp
alipay
kwai
swan
tt
qq
h5
rn
hamony-hybrid
android
ios
